npm body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a {
  font-size: 18px;
}

nav a.active {
  color: rgb(8, 185, 255) !important;
  font-weight: bold;
  text-decoration: none;

}

nav a:hover {
  text-decoration: none;
  color: rgb(8, 185, 255) !important;
}